doctype html
html
  head
    title #{title}
    sass:
      body
        color: #FFFFFF
        font-size: 14px
        font-family: Arial
        background: #1D1D1D
        margin: 0
        padding: 0

      a:active,a:focus
        outline: 0

      #search
        margin: 27px auto auto 140px
        position: relative
        z-index: 2
        clear: both

      .container
        width: 1120px
        font-style: bold
        margin: 27px auto auto auto
        position: relative
        z-index: 3
        left: -27px
        clear: both
        .group
          width: 225px
          margin: 55px 0 0 55px
          position: relative
          float: left
          .name
            width: 179px
            color: #FFFFFF
            font-size: 16px
            text-decoration: none
            background: #060606
            border-top-left-radius: 9px
            border-top-right-radius: 9px
            -moz-border-radius-topleft: 9px
            -moz-border-radius-topright: 9px
            -webkit-border-top-left-radius: 9px
            -webkit-border-top-right-radius: 9px
            padding: 10px 23px
            z-index: 2
            display: block
          .links
            width: 225px
            background: #131313
            border-bottom-left-radius: 9px
            border-bottom-right-radius: 9px
            -moz-border-radius-bottomleft: 9px
            -moz-border-radius-bottomright: 9px
            -webkit-border-bottom-left-radius: 9px
            -webkit-border-bottom-right-radius: 9px
            padding: 7px 0 9px 0
            z-index: 1
            a
              width: 165px
              color: #D4D4D4
              text-shadow: 1px 1px 2px black
              text-decoration: none
              padding: 4px 30px 4px 30px
              display: block
            ul
              list-style: none
              margin: 0
              padding: 0
            li
              margin: 0
              padding: 0
            li:hover
              background: #232323
  body
    #search
      iframe src="http://duckduckgo.com/search.html?width=340&prefill=Search&bgcolor=1d1d1d&focus=yes" style="overflow:hidden;margin:0;padding:0;width:400px;height:40px;" frameborder="0"
    .container
      - for group in groups do
        .group
          .name #{group.name}
          .links
            - for link in group.links
              ul
                li
                  .link
                    a href=link.url #{link.name}

